/* Header */
header ul
{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    display: flex;
    justify-content: left;
    padding-left: 2rem;
}
.inscrireLink{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;

}

.hebergementLink 
{
    width: 50%;
    border-bottom: 0.2rem solid #0065fc ;
}

.activiteLink
{
    width: 50%;
    border-bottom: 0.2rem solid #F2F2F2 ;
}

header .activiteLink:hover
{
    border-bottom: 0.2rem solid #0065fc ;
}

/* Recherches */
#recherches{
    margin: 2.5rem;
}

/*Content*/
.content{
    display: flex;
    flex-direction: column;
}

/* Les plus populaires */
#populaireSection{
    margin-top: 2rem;
    margin-bottom: 2rem;   
}

/* Hebergement */
#hebergementSection{
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

.hebergBox{
    display: flex;
    align-items: center;
    
}

/* Activités */
#activiteSection{
    margin-top: 2rem;
    margin-bottom: 2rem; 
}
.activBox{
    display: flex;
    align-items: center;
}

/* FOOTER */
footer{
    padding: 2rem;
}