/* Eléments principaux de la page */
body
{
    margin: auto;
}

header, #recherches, .content{
    margin-left: 5rem;
    margin-right: 5rem;
}
/* Header */
header ul{
    display:flex;
    flex-direction: row; 
    justify-content: center;
}
.logo{
    flex-grow: 1;
    display:flex;
    justify-content: flex-start;
}

.hebergementLink
{
    width: 15rem;
    border-top: 0.2rem solid #0065fc ;
}

.activiteLink
{
    width: 15rem;
    border-top: 0.2rem solid white ;
}

.inscrireLink
{
    width: 15rem;
    order: 3;
}

header .activiteLink:hover
{
    border-top: 0.2rem solid #0065fc ;
}

/* Recherches */
.boutonPerso{
    display: initial;
}
#recherches button{
    display: none;
}

/*content*/
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Les plus populaires */
#populaireSection{
    width: 31%;
    min-width: 22rem;
    border-radius: 2.5rem;
    order: 1;
    margin-top: 1rem;
}

/*Hebergement*/
#hebergementSection{
    width: 65%;
    background:#F2F2F2;
    border-radius: 2.5rem;
    order: 0;
    margin-top: 1rem;
}

#activiteSection{
    order: 2;
}

.hebergBox{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hebergBox article{
    width: 30%;
    min-width: 20rem;
}


/* Activités */
.activBox{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 35rem;
}
.activBox >a{
    width: 22%;
}
.ac1{
    height: 100%;
}
.ac2{
    height: 55%;
}
.ac3{
    height:35%;
}
.ac4{
    height: 100%;
}
.ac5{
    height: 42%;
}
.ac6{
    height: 48%;
}

/* ------------------------------------------------ */
/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
    
}
footer >div{
    flex-grow: 1;
}
