/* Définition de la police personnalisée */


/* Eléments principaux de la page */
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body{
    font-family: 'Raleway', 'Trebuchet MS', Arial, sans-serif;
    font-size: 1.5rem;
}

p{
    margin-bottom: 0.5rem;
}

a{
    text-decoration: none;
    color: black;
}

strong{
    font-weight: bolder;
}

h1{
    font-size: 2rem;
    font: bold;
}
h2{
    font-size: 1.8rem;
    font: bold;
    margin-bottom: 0.3rem;
}
h3{
    font-size: 1.5rem;
    font: bold;
    margin-bottom: 0.3rem;
}

/* Header */
header{
    text-align: center;
}

#logo{
    padding-left: 2rem;
    padding-top: 1rem;
}

.hebergement{
    color:#0065fc ;
}

li{
    list-style-type: none;
}

header a{  
    line-height: 6rem;
}

.InscrireSub{
    font-weight: bold;
    color: #0065fc; 
}

/* ------------------------------------------------ */
/* Recherches */
#recherches h1{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.boutonPersoIco{
    background-color: #0065FC;
    color: white;
    height: 4rem;
    width: 5rem;
    border-radius: 1rem;
    right: 1rem;
    border: 1px solid #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2rem;
}

.boutonPerso{
    background-color: #0065FC;
    color: white;
    height: 4rem;
    width: 10rem;
    border-radius: 0rem 1rem 1rem 0rem;
    position: relative;
    right: 1rem;
    border: 1px solid #0065FC;
    display: none;
}
#recherches form{
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 4rem;
    display: flex;
}

.iconeLocation{
    max-height: max-content;
    width: 4rem;
    height: 4rem;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0rem 0rem 1rem;
}

#find{
    height: 4rem;
    border: 1px solid #F2F2F2;

}

.filtres{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
}

.filtres h3{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.choixFiltre{
    display: flex;
    flex-wrap: wrap;
}

.choixFiltre li{
    border: 2px solid #F2F2F2;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    
}

.choixFiltre p{
    padding: 1rem;
}

.filtres i{
    background: #deebff;
    color: #0065fc;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filtres li:hover{
    background: #deebff ;
}

.dispo{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.dispo i{  
    font-size: 1.2rem;
    color: #0065fc;
    border: 2px solid #F2F2F2;
    Width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.dispo p{
    padding-left: 1.5rem;
}

/* ------------------------------------------------ */
/* Content */
.content h1{
    padding: 2.5rem 0rem 2rem 2rem;
}

.etoiles{
    display: flex;
    color:hsl(0, 0%, 79%);
    font-size: 1.3rem;
}


/* ------------------------------------------------ */
/* Les plus populaires */
#populaireSection{
    background:#F2F2F2; 
}

.popTitle{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.populaireBox{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pop1, .pop2, .pop3{
    background: white;
    height: 13rem;
    width: 92%;
    border-radius: 2.5rem;
    box-shadow:  3px 3PX 3PX 2.5PX rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    display: flex;

}

.pop1 img, .pop2 img, .pop3 img{
    height: 100%;
    width: 12rem;
    object-fit: cover;
    border-color: white;
    border-radius: 2.3rem 0 0 2.3rem;
    padding: 0.5rem;
}

.popTexte{
    padding: 0.5rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.populaireBox span{
    color: #0065fc;
}

.pop1:hover, .pop2:hover, .pop3:hover{
    transform: scale(1.08);
    transition: transform .2s;
}

/* ------------------------------------------------ */
/* Hebergement */
.hebergBox{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.hb1, .hb2, .hb3, .hb4, .hb5, .hb6{
    background: white;
    height: 18rem;
    width: 92%;
    border-radius: 2.5rem;
    box-shadow:  3px 3PX 3PX 2.5PX rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

.hb1 img, .hb2 img, .hb3 img, .hb4 img, .hb5 img, .hb6 img{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-color: white;
    border-radius: 2.3rem 2.3rem 0 0;
    padding: 0.5rem;
}

.hebergTexte{
    padding: 0rem 0rem 0rem 2rem;
}

.hebergBox span{
    color: #0065fc;
}

.hb1:hover, .hb2:hover, .hb3:hover, .hb4:hover, .hb5:hover, .hb6:hover{
    transform: scale(1.06);
    transition: transform .2s;
}

.more{
    display: flex;
    margin-left: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
}

/* ------------------------------------------------ */
/* Activites */
#activiteSection{
    margin-bottom: 2rem;
    width: 100%;
}
.activBox{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.ac1, .ac2, .ac3, .ac4, .ac5, .ac6{
    background: white;
    height: 18rem;
    width: 92%;
    border-radius: 2.5rem;
    box-shadow:  3px 3PX 3PX 2.5PX rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;

}

.ac1 img, .ac2 img, .ac3 img, .ac4 img, .ac5 img, .ac6 img{
    width: 100%;
    height: 100%;
    padding-bottom: 3.5rem;
    object-fit: cover;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    
}

.acTexte{
    padding: 0.5rem 0rem 0rem 1.3rem;
    margin-top: -3.5rem ;
}

.ac1:hover, .ac2:hover, .ac3:hover, .ac4:hover, .ac5:hover, .ac6:hover{
    transform: scale(1.06);
    transition: transform .2s;
}
/* ------------------------------------------------ */
/* FOOTER */
footer{
    background: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

footer ul{
    padding-right: 12rem;
}

footer h2, footer li{
    padding-bottom: 1rem;
}
